rest-service/src/main/resources/rules.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">

            <xs:element name="getTimeSlotsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rules" type="tns:rule" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getTimeSlotsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="timeSlots" type="xs:dateTime" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="rule">
                <xs:sequence>
                    <xs:element name="startdate" type="xs:dateTime"/>
                    <xs:element name="period" type="xs:duration"/>
                    <xs:element name="amount" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getTimeSlotsResponse">
        <wsdl:part element="tns:getTimeSlotsResponse" name="getTimeSlotsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTimeSlotsRequest">
        <wsdl:part element="tns:getTimeSlotsRequest" name="getTimeSlotsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TimeSlotsPort">
        <wsdl:operation name="getTimeSlots">
            <wsdl:input message="tns:getTimeSlotsRequest" name="getTimeSlotsRequest">
            </wsdl:input>
            <wsdl:output message="tns:getTimeSlotsResponse" name="getTimeSlotsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TimeSlotsPortSoap11" type="tns:TimeSlotsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getTimeSlots">
            <soap:operation soapAction=""/>
            <wsdl:input name="getTimeSlotsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getTimeSlotsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TimeSlotsPortService">
        <wsdl:port binding="tns:TimeSlotsPortSoap11" name="TimeSlotsPortSoap11">
            <soap:address location="http://soap:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>